.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    width: 100%;
    padding: 1px;
    background-image: url('https://mandritsara.github.io/bako2/images/bakohills.jpg');
    background-position: 90% 10%;  
    background-size: 100%;      
    background-repeat: no-repeat;
}



.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    
    
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.main-content img {
    border-radius:20px;  
}

.bio-button button {
  background-color: #3fa660;
  border-radius: 20px;
  padding:10px;

}

.bio-button {
  background-color: #efeaea; 
  display: flex;
  justify-content: center;
}

.bio-button:hover,
    
body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: #efeaea; 
    color: #000; 
} 


}
 

 
p { 
    font-size: 16px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} 

 /* change for hover and if any child elements are in focus */
 .card:hover,
 .card:focus-within {
   background-color: #f34d4d; /* Using the same color as selected nav items */
   box-shadow: 0 0 1rem rgba(0,0,0,0.15);
   color: inherit;

 }
 
 /* Make it look clickable... */
 .card-clickable {
   border-radius: 40px;
   border-width: 2px;
   
 }
 
 
 /* Presentational styles */

 .card {
   margin-left: auto;
   margin-right: auto;
   
 }


 .grid {
   display:grid;
   grid-gap: 4rem 1rem;
   max-width: 1200px;
   margin: auto;
   
 }
 
 @media all and (min-width: 450px) {
   .grid {
     grid-template-columns: 1fr 1fr;
   }
 }
 @media all and (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
   background-color: #3fa660;
   border-radius:40px;  
   padding:30px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color:#ffffff;
   overflow: hidden; /* To ensure the overlay doesn't spill out */
   text-align: center;
   justify-content: center;
   transition: transform 0.3s ease;
  }

.card h2 {
  font-style: bold;
  


